{% extends "base.html" %}

{% block redder %}
{% endblock %}

{% block content %}

<div id="result">result</div>

<form><div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Add your rVitees</span>
        <input class="form-control" type="email" name="rvite_email"
               placeholder="Enter email here. It will automatically add once you finish typing.">
    </div>
</div></form>

<div id="ems_cont">
    <p>{{rv_id}}</p>
    <p>{{r_args}}</p>
    <br>
</div>

<!--
-->
<script src="static/js/snips/add_tee.js"></script>
{% endblock %}