{% extends "base.html" %}

{% block redder %}
{% endblock %}

{% block content %}
<p>heres some text</p>
<!-- grab location data -->
<p id="lalo"></p>
<div id="latlng" data-value="54.9882,-1.5747">temp</div>
<div id="placeName">bish</div>
<div id="result">result</div>


<form action="XXX" method="post">
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Name your rendezView</span>
        <input class="form-control" type="text" name="rv_name" value="[EMAIL]rendezView">
    </div>
    <div class="input-group">
        <span class="input-group-addon">Set the expiry time</span>
        <input class="form-control" type="time" name="end_time" value=23:59>
    </div>
    <input type="submit" value="create rendezView" class="myButton">
</div>

</form>
<!--
<script src={{map_url}}></script>
<script src="static/js/snips/locn.js"></script>
-->
{% endblock %}