{% extends "base.html" %}

{% block redder %}
{% endblock %}

{% block content %}
<!-- grab location data -->
<p id="lalo"></p>
<p>-----------</p>
<!--<div id="latlng" data-value="54.9882,-1.5747">temp</div> -->
<div id="placeName">place to be filled</div>
<p>-----------</p>
<div id="result">result</div>
<p>-----------</p>
<div id="accuracy">accuracy</div>

<form action="add_tees" method="get">
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Name your rendezView</span>
        <input class="form-control" type="text" name="rv_name" value="[EMAIL]rendezView">
    </div>
    <div class="input-group">
        <span class="input-group-addon">Set the expiry time</span>
        <input class="form-control" type="time" name="end_time" value=23:59>
    </div>
    <div class="input-group">
        <span class="input-group-addon">TargetLat</span>
        <input class="form-control" type="number" name="targLat" id="targLat" value=51>
    </div>
    <div class="input-group">
        <span class="input-group-addon">TargetLong</span>
        <input class="form-control" type="number" name="targLong" id="targLong" value=0>
    </div>
    <input type="submit" value="create rendezView" class="myButton">
</div>
</form>
<!--
-->
<script src={{map_url}}></script>
<script src="static/js/snips/locn.js"></script>
{% endblock %}